html {
  box-sizing: border-box;
  background: #ffff;
  font-family: 'Cardo', serif;
  font-size: 20px;
  font-weight: 200;
}
body {
  margin: 0;
}
.header,
.footer {
  margin: auto;
  width: 50%;
  text-align: center;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
.view:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  transition: all 0.2s ease-in-out;
}
.panels {
  min-height: 80vh;
  overflow: hidden;
  display: flex;
  margin-top: 5%;
  margin-bottom: 5%;
}
.panel {
  background: #6b0f9c;
  box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.1);
  color: white;
  text-align: center;
  align-items: center;
  /* Safari transitionend event.propertyName === flex */
  /* Chrome + FF transitionend event.propertyName === flex-grow */
  transition: font-size 0.5s cubic-bezier(0.61, -0.19, 0.7, -0.11),
    flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), background 0.2s;
  font-size: 20px;
  background-size: cover;
  background-position: center;
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.panel1 {
  background-image: url('img/img002.jpg');
}
.panel2 {
  background-image: url('img/img003.jpg');
}
.panel3 {
  background-image: url('img/img001.jpg');
}
.panel4 {
  background-image: url('img/img004.jpg');
}
.panel5 {
  background-image: url('img/img005.jpg');
}
/* Flex Children */
.panel > * {
  margin: 0;
  width: 100%;
  transition: transform 0.5s;
  flex: 1 0 auto;
  justify-content: center;
  align-items: center;
  display: flex;
}
.panel > *:first-child {
  transform: translateY(-100%);
}
.panel.open-active > *:first-child {
  transform: translateY(0);
}
.panel > *:last-child {
  transform: translateY(100%);
}
.panel.open-active > *:last-child {
  transform: translateY(0);
}

.panel p {
  text-transform: uppercase;
  font-family: 'Pathway Gothic One', sans-serif;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
  font-size: 2em;
}
.panel p:nth-child(2) {
  font-size: 4em;
}
.panel.open {
  font-size: 40px;
  flex: 5;
}
